body {
  font-family: 'Roboto', sans-serif;
  background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
